{% extends 'base.html.twig' %}

{% block title %}CREATURE PROJECT{% endblock %}

{% block body %}
<section class="section">
        <div class="section-homepage">
            <h1>CREATURE PROJECT</h1>
        </div>
</section>
{% endblock %}
